section.home_s-5
	.container
		.head-title
			h2 Software
		.home-software-swiper-wrapper
			.nav-arrow-prev
				em.ri-arrow-left-s-line
			.nav-arrow-next
				em.ri-arrow-right-s-line
			.swiper-container
				.swiper-wrapper
					-for(i=0; i<6; i++)
						.swiper-slide
							.wrapper
								.card-img
									a(href="#")
										img(src="./img/home/h-s5.png", alt="")
								.title-slide
									a(href="#") WebTerm
								.content-slide Multilingual terminology management in an internet browser