.home_s-6
	padding-bottom: 60px
	.row
		display: flex
		justify-content: center
		align-items: center
		margin-top: 50px
	.col-lg-10
		display: flex
		justify-content: center
		align-items: center
	.teamviewer-h
		background: #f4f4f4
		padding: 95px 45px
		img
			width: 100%
			@media screen and ( max-width: 1280px)
				width: auto

	.swiper-container
		// margin: 0
		// @media screen and ( max-width: 1350px)
		// 	margin: 0 50px
	.wrapper
		padding: 10px 0 0 0
		@media screen and ( max-width: 1280px)
			padding-top: 30px
		.title-img
			display: flex
			justify-content: space-between
			.title-zone
				font-size: 24px
				color: #111111
				position: relative
				padding-top: 10px
				&::before
					content: ''
					position: absolute
					width: 50px
					height: 3px
					background: #91002b
					top: 0
					left: 0
			.img-comma
				display: flex
		.content-teamvie
			font-size: 14px
			color: #111111
			padding-top: 15px
			
	.teamviewer-pagination
		position: unset
		margin-top: 40px
		text-align: left
		padding-left: 110px
		@media screen and ( max-width: 1280px)
			padding-left: 0
			text-align: center
		.swiper-pagination-bullet
			border-radius: unset
			background: none
			border: 2px solid #999999
			width: 10px
			height: 10px
		.swiper-pagination-bullet-active
			background-color: #91002b
			border-radius: unset
			border: none