section.home_s-6
	.container
		.head-title
			h2 Testimonials
		.row
			.col-lg-3
				.teamviewer-h
					img(src="./img/home/teamviewer.png", alt="")
			.col-lg-7
				.swiper-container.slide-teamviewer
					.swiper-wrapper
						-for(i=0; i<4; i++)
							.swiper-slide
								.wrapper
									.title-img
										.title-zone From Teamviewer
										.img-comma
											img(src="./img/home/icon-s6.png", alt="")
									.content-teamvie
										p We are very excited to renew our partnership for the year ahead.
										p We would like to thank you and your team for serving as our very first Vietnamese SLV partner. The feedback on your team from all comers of the management teams has been very positive and we are looking forward to ramping up our collaboration to a greater extent in the next months. As we transition more content towards your team, our team is shifting its dependency towards your team.
					.swiper-pagination.teamviewer-pagination

