section.home_s-2
	.container
		.head-title
			h2 Services
		.row
			.col-lg-3
				.services-h
					.card_img
						a(href="#").zoom-in
							img(src="./img/home/s-1.png", alt="")
					.title-services
						a(href="#") Technical & Specialized translations
					.btn-view
						.img
							img(src="./img/home/h-icon.png", alt="")
						a(href="#") Learn more
			.col-lg-3
				.services-h
					.card_img
						a(href="#").zoom-in
							img(src="./img/home/s-2.png", alt="")
					.title-services
						a(href="#") Professional proofreading
					.btn-view
						.img
							img(src="./img/home/h-icon.png", alt="")
						a(href="#") Learn more
			.col-lg-3
				.services-h
					.card_img
						a(href="#").zoom-in
							img(src="./img/home/s-3.png", alt="")
					.title-services
						a(href="#") Terminology & translation memory management
					.btn-view
						.img
							img(src="./img/home/h-icon.png", alt="")
						a(href="#") Learn more
			.col-lg-3
				.services-h
					.card_img
						a(href="#").zoom-in
							img(src="./img/home/s-4.png", alt="")
					.title-services
						a(href="#") Graphic Design of documents
					.btn-view
						.img
							img(src="./img/home/h-icon.png", alt="")
						a(href="#") Learn more
			.col-lg-3
				.services-h
					.card_img
						a(href="#").zoom-in
							img(src="./img/home/s-5.png", alt="")
					.title-services
						a(href="#") Technical & Specialized translations
					.btn-view
						.img
							img(src="./img/home/h-icon.png", alt="")
						a(href="#") Learn more
			.col-lg-3
				.services-h
					.card_img
						a(href="#").zoom-in
							img(src="./img/home/s-6.png", alt="")
					.title-services
						a(href="#") Professional proofreading
					.btn-view
						.img
							img(src="./img/home/h-icon.png", alt="")
						a(href="#") Learn more
			.col-lg-3
				.services-h
					.card_img
						a(href="#").zoom-in
							img(src="./img/home/s-7.png", alt="")
					.title-services
						a(href="#") Terminology & translation memory management
					.btn-view
						.img
							img(src="./img/home/h-icon.png", alt="")
						a(href="#") Learn more
			.col-lg-3
				.services-h
					.card_img
						a(href="#").zoom-in
							img(src="./img/home/s-8.png", alt="")
					.title-services
						a(href="#") Other services
					.title-zone
						ul
							li
								.icon-h
									span.ri-add-line
								p Localization
							li
								.icon-h
									span.ri-add-line
								p Software development
							li
								.icon-h
									span.ri-add-line
								p Electronic publishing
							li
								.icon-h
									span.ri-add-line
								p Audio recordings in 30 languages, including editing"
					.btn-view
						.img
							img(src="./img/home/h-icon.png", alt="")
						a(href="#") Learn more