section.home_s-4(setBackground='./img/home/bg-s4.png' alt="")
	.container
		.row
			.col-lg-8
				.head-title
					h2 STAR Worldwide
				.desc_s-4 Connecting your visions, technologies and customers
				.btn-view
					.img
						img(src="./img/home/h-icon.png", alt="")
					a(href="#") Learn more