section.news-detail
	.container
		.row
			.col-lg-10
				.card-title
					h1 STAR Vietnam joins Internation Conference on English Language Teaching (ICELT) 2016
					.bottom-wrapper-news-detail
						time 31.10.2019
						.social-network-share
							.icon
								a(href="#")
									span.ri-facebook-fill
								a(href="#")
									span.ri-twitter-fill
				.card_body
					.fullcontent
						.strong Vietnamese shrimp continues to domainate the UK market as of September 15,2020 reached $161.2 miliion, up 15% over same period in 2019. The Uk is also considered one of the import markets of Vietnamese shrimp that perform well and seem to is not affected much by the Covid-19 epidemic since the beginning of the year until now.
						p Vietnamese shrimp continues to domainate the UK market as of September 15,2020 reached $161.2 miliion, up 15% over same period in 2019. The Uk is also considered one of the import markets of Vietnamese shrimp that perform well and seem to is not affected much by the Covid-19 epidemic since the beginning of the year until now.
						p Vietnamese shrimp continues to domainate the UK market as of September 15,2020 reached $161.2 miliion, up 15% over same period in 2019. The Uk is also considered one of the import markets of Vietnamese shrimp that perform well and seem to is not affected much by the Covid-19 epidemic since the beginning of the year until now.
						img(src="./img/news/detail-1.png", alt="")
						p Vietnamese shrimp continues to domainate the UK market as of September 15,2020 reached $161.2 miliion, up 15% over same period in 2019. The Uk is also considered one of the import markets of Vietnamese shrimp that perform well and seem to is not affected much by the Covid-19 epidemic since the beginning of the year until now.
						p Vietnamese shrimp continues to domainate the UK market as of September 15,2020 reached $161.2 miliion, up 15% over same period in 2019. The Uk is also considered one of the import markets of Vietnamese shrimp that perform well and seem to is not affected much by the Covid-19 epidemic since the beginning of the year until now.
						img(src="./img/news/detail-1.png", alt="")
						p Vietnamese shrimp continues to domainate the UK market as of September 15,2020 reached $161.2 miliion, up 15% over same period in 2019. The Uk is also considered one of the import markets of Vietnamese shrimp that perform well and seem to is not affected much by the Covid-19 epidemic since the beginning of the year until now.

section.other-news-detail
	.container
		.title-other
			h2 Related News
		.row
			-for(i=0; i<4; i++)
				.col-lg-3
					.item-news-other
						.card-img
							a(href="#").zoom-in
								img(src="./img/news/detail-1.png", alt="")
						.content-news-other
							.title-news
								a(href="#") STAR Vietnam donates Transit NXT Computer-Aided Translation software to HUTECH
							.date
								time 28/08/2020