section.home_s-3
	.container
		.head-title
			h2 Clients
		.tab-menu
			.tab-description
				ul.tab-navigation
					li.active
						a(href="javascript:void(0)" data-type='tab-1') Business Sector
					li
						a(href="javascript:void(0)" data-type='tab-2') Industrial Sector
					li
						a(href="javascript:void(0)" data-type='tab-3') Automotive Sector
					li
						a(href="javascript:void(0)" data-type='tab-4') Consumer Brands Sector
			.tab-wrapper
				.tab-item.active#tab-1
					.row
						.col-lg-3
							.clients-h
								.sub-title
									h3 Business sector
								.content-h It-related, Computer Software & Hardware, Internet-related
						.col-lg-9
							.row
								-for(i=1; i<14; i++)
									.col
										.clients-img
											.img
												img(src="./img/clients/1.png", alt="")