section.services
	.container
		.row
			.col-lg-8
				.head-title
					h1 Who we are
				.desc STAR was established in the small town of Stein am Rhein in Switzerland in 1984. For me more than a quarter of a century, it has consistently achieved high customer satisfaction and has grown into an international group of 45 compaines on four continents. Width a thousand full-time employees and in cooperation with a net work of tens of thousand worldwide, we are able to provide our clients with translation and other services in any language combination.

section.services-2
	.container
		.head-title
			h2 Services
		.row
			.col-lg-3
				.services-h
					.card_img
						a(href="#").zoom-in
							img(src="./img/home/s-1.png", alt="")
					.title-services
						a(href="#") Technical & Specialized translations
					.btn-view
						.img
							img(src="./img/home/shape-icon.png", alt="")
						a(href="#") Learn more
			.col-lg-3
				.services-h
					.card_img
						a(href="#").zoom-in
							img(src="./img/home/s-2.png", alt="")
					.title-services
						a(href="#") Professional proofreading
					.btn-view
						.img
							img(src="./img/home/shape-icon.png", alt="")
						a(href="#") Learn more
			.col-lg-3
				.services-h
					.card_img
						a(href="#").zoom-in
							img(src="./img/home/s-3.png", alt="")
					.title-services
						a(href="#") Terminology & translation memory management
					.btn-view
						.img
							img(src="./img/home/shape-icon.png", alt="")
						a(href="#") Learn more
			.col-lg-3
				.services-h
					.card_img
						a(href="#").zoom-in
							img(src="./img/home/s-4.png", alt="")
					.title-services
						a(href="#") Graphic Design of documents
					.btn-view
						.img
							img(src="./img/home/shape-icon.png", alt="")
						a(href="#") Learn more
			.col-lg-3
				.services-h
					.card_img
						a(href="#").zoom-in
							img(src="./img/home/s-5.png", alt="")
					.title-services
						a(href="#") Technical & Specialized translations
					.btn-view
						.img
							img(src="./img/home/shape-icon.png", alt="")
						a(href="#") Learn more
			.col-lg-3
				.services-h
					.card_img
						a(href="#").zoom-in
							img(src="./img/home/s-6.png", alt="")
					.title-services
						a(href="#") Professional proofreading
					.btn-view
						.img
							img(src="./img/home/shape-icon.png", alt="")
						a(href="#") Learn more
			.col-lg-3
				.services-h
					.card_img
						a(href="#").zoom-in
							img(src="./img/home/s-7.png", alt="")
					.title-services
						a(href="#") Terminology & translation memory management
					.btn-view
						.img
							img(src="./img/home/shape-icon.png", alt="")
						a(href="#") Learn more
			.col-lg-3
				.services-h
					.card_img
						a(href="#").zoom-in
							img(src="./img/home/s-8.png", alt="")
					.title-services
						a(href="#") Other services
					.title-zone
						ul
							li
								.icon-h
									span.ri-add-line
								p Localization
							li
								.icon-h
									span.ri-add-line
								p Software development
							li
								.icon-h
									span.ri-add-line
								p Electronic publishing
							li
								.icon-h
									span.ri-add-line
								p Audio recordings in 30 languages, including editing"
					.btn-view
						.img
							img(src="./img/home/shape-icon.png", alt="")
						a(href="#") Learn more

section.services-3
	.container
		.head-title
			h2 We dont't just translate. We localize
		.row
			.col-lg-6
				.content STAR was established in the small town of Stein am Rhein in Switzerland in 1984. For me more than a quarter of a century, it has consistently achieved high customer satisfaction and has grown into an international group of 45 compaines on four continents. Width a thousand full-time employees and in cooperation with a net work of tens of thousand worldwide, we are able to provide our clients with translation and other services in any language combination.STAR was established in the small town of Stein am Rhein in Switzerland in 1984. For me more than a quarter of a century, it has consistently achieved high customer satisfaction and has grown into an international group of 45 compaines on four continents.
			.col-lg-6
				.card_img
					.img
						img(src="./img/services/1.png", alt="")
		.row
			.col-lg-6
				.head-title
					h2 Efficiency and high standards
				.content STAR was established in the small town of Stein am Rhein in Switzerland in 1984. For me more than a quarter of a century, it has consistently achieved high customer satisfaction and has grown into an international group of 45 compaines on four continents. Width a thousand full-time employees and in cooperation with a net work of tens of thousand worldwide, we are able to provide our clients with translation and other services in any language combination.STAR was established in the small town of Stein am Rhein in Switzerland in 1984. For me more than a quarter of a century, it has consistently achieved high customer satisfaction and has grown into an international group of 45 compaines on four continents.
			.col-lg-6
				.card_img
					.img
						img(src="./img/services/1.png", alt="")