// a 
// 	+hover-underline(95%, #2d88ff)
// .news-list
// 	+gg-speed(auto, 1410px)

.zoom-in
	overflow: hidden
	transition: .3s all ease-in-out
	&:hover
		img
			transform: scale(1.13)
	img
		transform: scale(1)
		transition: .3s all ease-in-out

.opacity
	transition: .3s all ease-in-out
	&:hover
		opacity: .7
	img
		opacity: 1
		transition: .3s all ease-in-out

.tab-wrapper
	.tab-item
		display: none
		&.active
			display: block

.btn-view
	display: flex
	justify-content: left
	align-items: center
	background: #91002b
	width: 180px
	height: 50px
	cursor: pointer
	margin-top: 30px
	@media screen and ( max-width: 576px )
		margin-top: 15px
	a
		color: #ffffff
		font-size: 14px
		text-transform: uppercase
		padding-left: 20px
	&:hover
		background: #111111