.nav-menu
	display: flex
	justify-content: space-between
	align-items: center
	.mega-menu
		@media screen and ( max-width: 1279px)
			transition: 0s !important
	@media screen and ( max-width: 1279px )
		display: none
	.menu-list
		list-style: none 
		> span 
			display: none
		@media screen and ( max-width: 1279px)
			display: flex
			flex-direction: column
			border-bottom: 1px solid #ffffff
		.moblie-show-menu
			span
				display: none
			@media screen and ( max-width: 1279px)
				display: flex
				justify-content: space-between
				span
					color: #ffffff
					font-size: 24px
					display: block
		&:hover
			.title-menu-list
				position: relative
				&::before
					content: ''
					position: absolute
					bottom: 15px
					left: 0
					right: 0
					margin: auto
					width: 100%
					content: ''
					background: #fff
					height: 1px
					transition: all .2s
				&:hover
					&::before
						width: 100%
		&.active
			.title-menu-list
				position: relative
				&::before
					content: ''
					position: absolute
					bottom: 15px
					left: 0
					right: 0
					margin: auto
					width: 100%
					content: ''
					background: #fff
					height: 1px
					transition: all .2s
				&:hover
					&::before
						width: 100%
		.title-menu-list
			position: relative
			padding: 10px 0 20px 0
			&::before
				position: absolute
				bottom: 15px
				left: 0
				right: 0
				margin: auto
				width: 0%
				content: ''
				background: #fff
				height: 1px
				transition: all .2s
				content: ''
			&:hover
				color: #ffffff
				&::before
					width: 100%
		@media screen and ( max-width: 1279px)
			.title-menu-list
				&:hover
					color: #8f052d
				&::before
					display: none
		&:hover
			.mega-menu
				top: 90px
				opacity: 1
				visibility: visible
				transition: 1s all

		.mega-menu
			position: absolute
			opacity: 0
			left: 0
			top: 90px
			z-index: 9
			background-color: rgba(#333333,.9)
			opacity: 0
			padding: 30px
			width: 100%
			visibility: hidden
			@media screen and ( max-width: 1279px)
				position: static
				padding: 0 15px
				opacity: 1
				visibility: visible
				flex-direction: column
				display: none
				width: 100%
				justify-content: flex-start
				flex-wrap: nowrap
				background: none
		.has-mega-menu
			width: 100%
			// justify-content: left
			justify-content: center
			flex-wrap: wrap
			display: flex
			padding: 0
			@media screen and ( max-width: 1279px)
				padding-bottom: 15px
			&.justify-center
				justify-content: center
				li
					.moblie-show-mega
						justify-content: center
			> li
				// flex: 0 0 25%
				flex: 0 0 100%
				max-width: 100%
				// width: 100%
				padding: 0 15px 15px 15px
				list-style: none
				@media screen and ( max-width: 1279px)
					max-width: unset
					width: 100%
					flex: inherit
					border-bottom: 1px solid #ffffff
					padding-bottom: 10px
					padding-top: 10px
					padding-left: 0
					&:first-child
						padding-top: 0
					&:last-child
						padding-bottom: 0
						border-bottom: 0
					& + li 
						margin-top: 10px
				.moblie-show-mega
					display: flex
					justify-content: space-between
					.title-mega
						border-bottom: 0 !important
						color: #ffffff !important
						position: relative
						font-size: 14px
						&:hover
							color: #8f052d !important
					span
						color: #ffffff
						font-size: 24px
						display: none
						@media screen and ( max-width: 1279px)
							display: block
				.mega-list
					padding: 0
					list-style: none
					@media screen and ( max-width: 1279px)
						display: none
					li
						@media screen and ( max-width: 1279px)
							&:first-child
								padding-bottom: 0
							padding-top: 15px
							padding-bottom: 15px
					a
						color: #8e969c
						font-size: 12px
						&:hover
							color: #8f052d
			&.active
				.title-menu-list
					&::before
						content: ''
						position: absolute
						bottom: 15px
						left: 0
						right: 0
						margin: auto
						width: 100%
						content: ''
						background: #fff
						height: 1px
		@media screen and ( max-width: 1279px )
			> span
				display: block
				font-size: 24px
				color: #ffffff
	@each $bpMenu, $paddingLeft in $grid-breakpoints-menu
		@media(min-width: #{$bpMenu})
			li 
				width: $paddingLeft
				&.menu-list
					@for $megaNumber from 1 through 10
						&:nth-child(#{$megaNumber})
							.mega-menu
								> .has-mega-menu
									padding-left: (($paddingLeft * $megaNumber) - $paddingLeft)
