.news-detail-page,.service-detail-page,.career-detail-page,.software-detail-page
	header
		background: #ffffff
		.header
			.header_main
				.header_infor
					.hotline_box
						ul
							li
								display: flex
								justify-content: center
								align-items: center
								.text-tel
									a
										color: #666666
								.text-mail
									color: #666666
									a
										color: #666666
										// border-bottom: 1px solid transparent
										&:hover
											color: #91002b
											// border-bottom: 1px solid blue
					.search-icon
						span
							color: #666666
					.language
						a
							color: #666666
					.header_btn
						span
							color: #666666
			.nav-menu
				li
					a
						color: #111111
					&:hover
						a
							color: #8f052d 
							position: relative
							&::before
								position: absolute
								bottom: 15px
								left: 0
								right: 0
								margin: auto
								width: 0%
								content: ''
								background: #8f052d !important
								height: 1px
								transition: all .2s
							&:hover
								&::before
									width: 100%
					&.active
						a
							color: #8f052d 
							position: relative
							&::before
								content: ''
								position: absolute
								bottom: 15px
								left: 0
								right: 0
								margin: auto
								width: 100%
								content: ''
								background: #8f052d !important
								height: 1px
								transition: all .2s
							&:hover
								&::before
									width: 100%
					.mega-menu
						li
							.title-mega
								color: #ffffff
								position: relative
								&::before
									display: none
							&:hover
								.title-mega
									color: #8f052d
							&.active
								.title-mega
									color: #8f052d
	main
		padding-top: 90px
	.global-breadcrumb
		margin-top: 0
		background: rgba(#f3f3f3,.7)
		ol
			li
				&:last-child
					padding-left: 10px
				a
					color: #111111
				&::after
					bottom: 0
					color: #333333
				&.active
					color: #111111

	.Module.Module-173,.Module-168
		.ModuleContent
			display: none
	.banner-about
		display: none

.service-page
	#ctl00_divAltContent2
		.service-detail-3
			display: none

// .news-list-page
// 	header
// 		.header
// 			.header_main
// 				.header_menu
// 					.nav-menu
// 						.menu-list
// 							.mega-menu
// 								.has-mega-menu
// 									justify-content: center

.news-detail-page
	.fancybox-inner
		.fancybox-stage
			#form-apply
				width: 75%
				height: 85%
				overflow: hidden
				padding: 0
				iframe
					width: 100%
					height: 100%
				button
					background: #8f052d
					top: 0
					right: 17px
					svg
						color: #ffffff

// page sitemap
.sitemappage
	.sitemap
		padding-top: 140px
		padding-bottom: 60px
		padding-left: 15px
		padding-right: 15px
		margin: 0 44.5px
		@media screen and ( max-width: 1280px)
			margin: 0
			padding-top: 120px
		@media screen and ( max-width: 1023px)
			padding-top: 60px
		.AspNet-TreeView
			#ctl00_mainContent_menu_UL
				list-style: none
				padding: 1px
				.AspNet-TreeView-Root
					padding-bottom: 10px
					margin-left: 10px
					a
						margin-left: -10px
						font-weight: 600
						color: #606060
						&:hover
							color: #8f052d
							color: #8f052d
							border-bottom: 1px solid #8f052d
					&.AspNet-TreeView-Leaf
						padding-bottom: 10px
						a
							font-weight: 600
							margin-left: -10px
							color: #606060
							&:hover
								color: #8f052d
								border-bottom: 1px solid #8f052d
					ul
						list-style: none
						padding: 0
						margin-top: 5px
						li
							a
								font-weight: 300
								color: #333333


.vi-vn
	footer
		.footer-top 
			.btn-view
				width: 250px !important
				@media screen and ( max-width: 280px)
					width: auto !important
					span
						font-size: 12px !important

// Video
.library-video
	.block-news
		.card-img
			position: relative
			.video
				position: absolute
				top: 40%
				left: 45%
				pointer-events: none
.library-photo
	.block-news
		.card-img
			position: relative
			.images
				position: absolute
				top: 50%
				left: 50%
				pointer-events: none
