<?xml version="1.0" encoding="utf-8" ?>
<templates>
<newstype name="Tin tức" value="0"></newstype>
	<!--<showoption name="Icon new" value="1"></showoption>-->

	<templatelist xsltname="News-List.xslt" name="Danh sách Tin tức"></templatelist>
	<templatelist xsltname="Recruitment.xslt" name="Danh sách Tuyển dụng"></templatelist>
	<templatelist xsltname="Client.xslt" name="Danh sách Đối tác"></templatelist>
	<templatelist xsltname="Services.xslt" name="Danh sách Dịch vụ "></templatelist>
	<templatelist xsltname="NewsVideo.xslt" name="Danh sách video "></templatelist>
	<templatelist xsltname="NewsPhotoGallery.xslt" name="Danh sách hình ảnh "></templatelist>

	<templatedetail xsltname="News-Detail.xslt" name="Chi tiết Tin tức"></templatedetail>
	<templatedetail xsltname="News-Detail-2.xslt" name="Chi tiết Tin tức Mẫu 2"></templatedetail>
	<templatedetail xsltname="News-Detail-3.xslt" name="Chi tiết Tin tức Mẫu 3"></templatedetail>
	<templatedetail xsltname="News-Detail-4.xslt" name="Chi tiết Tin tức Mẫu 4"></templatedetail>
	<templatedetail xsltname="Software-Detail.xslt" name="Chi tiết Software"></templatedetail>
	<templatedetail xsltname="Recruitment-Detail.xslt" name="Chi tiết Tuyển dụng"></templatedetail>
	<templatedetail xsltname="Services-Detail.xslt" name="Chi tiết Dịch vụ"></templatedetail>
	<templatedetail xsltname="Service-Other-Detail.xslt" name="Chi tiết Dịch vụ 2" ></templatedetail>

	<position>
		<add name="Trang chủ" value="1" resourcefile="" />
		<add name="Trang chủ - Software" value="2" resourcefile="" />
		<add name="Trang chủ - Testimonials" value="4" resourcefile="" />
		<add name="Trang chủ - News" value="8" resourcefile="" />
		<add name="Trang chủ - Gallery" value="16" resourcefile="" />
		<add name="Trang chủ - Photo" value="32" resourcefile="" />
	</position>

</templates>
