<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->

  <templatelist xsltname="News-List.xslt" name="Danh sách Tin tức"></templatelist>
  <templatelist xsltname="Recruitment.xslt" name="Danh sách Tuyển dụng"></templatelist>
  <templatelist xsltname="Client.xslt" name="Danh sách Đối tác"></templatelist>
  <templatelist xsltname="Services.xslt" name="Danh sách Dịch vụ "></templatelist>

  <templatedetail xsltname="News-Detail.xslt" name="Chi tiết Tin tức"></templatedetail>
  <templatedetail xsltname="Software-Detail.xslt" name="Chi tiết Software"></templatedetail>
  <templatedetail xsltname="Recruitment-Detail.xslt" name="Chi tiết Tuyển dụng"></templatedetail>
  <templatedetail xsltname="Services-Detail.xslt" name="Chi tiết Dịch vụ"></templatedetail>

  <position>
    <add name="Trang chủ" value="1" resourcefile="" />
    <add name="Trang chủ - Software" value="2" resourcefile="" />
    <add name="Trang chủ - Testimonials" value="4" resourcefile="" />
    <add name="Trang chủ - News" value="8" resourcefile="" />
    <add name="Trang chủ - Gallery" value="16" resourcefile="" />
  
  </position>
</templates>