section.srcoll-menu
	.container
		.menu-nav
			ul
				li.active
					a(href="#") Introduction
				li
					a(href="#") Our Management
				li
					a(href="#") Our Mission
				li
					a(href="#") Our Recipe For Success

section.about
	.container
		.head-title
			h1 Introduction
		.row
			.col-lg-8
				.content-about
					.about-desc-top
						h2 Your Trusted technical Translation and Software Localization Partner
					.about-desc-bottom
						p STAR Group is a world leader for more than 30 years in the area of technical communication, a key supplier of multi-language, technical communication to international corporations.
						p STAR Group is a world leader for more than 30 years in the area of technical communication, a key supplier of multi-language, technical communication to international corporations.
						p STAR Group is a world leader for more than 30 years in the area of technical communication, a key supplier of multi-language, technical communication to international corporations.
						p STAR Group is a world leader for more than 30 years in the area of technical communication, a key supplier of multi-language, technical communication to international corporations.
						p STAR Group is a world leader for more than 30 years in the area of technical communication, a key supplier of multi-language, technical communication to international corporations.
						p STAR Group is a world leader for more than 30 years in the area of technical communication, a key supplier of multi-language, technical communication to international corporations.
			.col-lg-4
				.card-img
					.img
						img(src="./img/about/1.png", alt="")


section.about-2
	.container
		.head-title
			h2 Our Management
		.row
			.col-lg-6
				.item-about-2
					.card-img
						.img
							img(src="./img/about/2.png", alt="")
					.desc-about-2
						.title Mr. William A. Meyer
						.caption  A founding member and the Director Genenal of both STARA founding member and the Director Genenal of both STARA founding member and the Director Genenal of both STARA founding member and the Director Genenal of both STARA founding member and the Director Genenal of both STARA founding member and the Director Genenal of both STAR
			.col-lg-6
				.item-about-2
					.card-img
						.img
							img(src="./img/about/2-2.png", alt="")
					.desc-about-2
						.title Mr. William A. Meyer
						.caption  A founding member and the Director Genenal of both STARA founding member and the Director Genenal of both STARA founding member and the Director Genenal of both STARA founding member and the Director Genenal of both STARA founding member and the Director Genenal of both STARA founding member and the Director Genenal of both STAR

section.about-3(setBackground="./img/about/bg-3.png")
	.container
		.row
			.col-lg-8
				.head-title
					h2 Our Mission
				.description To work with our clients to develop comprehensive, on-stop. costTo work with our clients to develop comprehensive, on-stop. costTo work with our clients to develop comprehensive, on-stop.

section.about-4
	.container
		.row
			.col-lg-6
				.card-img
					.img
						img(src="./img/about/4.png", alt="")
			.col-lg-6
				.content-about-4
					.head-title
						h2 Our Recipe for success
					.caption
						p STAR combines highly qualified specialists, state-of-the-art tools and effective management to ensure that our clients receive the highest quality results at excellent value
						p STAR combines highly qualified specialists, state-of-the-art tools and effective management to ensure that our clients receive the highest quality results at excellent value
						p STAR combines highly qualified specialists, state-of-the-art tools and effective management to ensure that our clients receive the highest quality results at excellent value