extends _layout.pug

block var
	- var title = 'Nghề nghiệp chi tiết'
	- var bodyClass = 'career-detail-page'

block main
	include ../components/UI/breadcrumb/index
	include ../components/career/career-detail/index
