extends _layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'home-page'

block main
	include ../components/banner/index
	include ../components/home/s-1/index
	include ../components/home/s-2/index
	include ../components/home/s-3/index
	include ../components/home/s-4/index
	include ../components/home/s-5/index
	include ../components/home/s-6/index
	include ../components/home/s-7/index
