extends _layout.pug

block var
	- var title = 'Dịch vụ chi tiết'
	- var bodyClass = 'service-detail-page'

block main
	include ../components/UI/breadcrumb/index
	include ../components/service/service-detail/index
