section.software-detail
	.container
		.row
			.col-lg-9
				.card_title
					h1 Transi software versions
				.fullcontent
					img(src="./img/software/1.png", alt="")
					strong Professional
					p Supporting full functionality of project mangement and translation. Supporting full functionality of project mangement and translation.Supporting full functionality of project mangement and translation.Supporting full functionality of project mangement and translation.
					strong Professional
					p Supporting full functionality of project mangement and translation. Supporting full functionality of project mangement and translation.Supporting full functionality of project mangement and translation.Supporting full functionality of project mangement and translation.
					strong Professional
					p Supporting full functionality of project mangement and translation. Supporting full functionality of project mangement and translation.Supporting full functionality of project mangement and translation.Supporting full functionality of project mangement and translation.
					strong Professional
					p Supporting full functionality of project mangement and translation. Supporting full functionality of project mangement and translation.Supporting full functionality of project mangement and translation.Supporting full functionality of project mangement and translation.
					p Supporting full functionality of project mangement and translation. Supporting full functionality of project mangement and translation.Supporting full functionality of 
					strong Why do you choose STRA Transit?
					ul
						li
							p the STAR Group has an offcial subsidiary in your country
						li
							p the STAR Group has an offcial subsidiary in your country
						li
							p the STAR Group has an offcial subsidiary in your country
						li
							p the STAR Group has an offcial subsidiary in your country
						li
							p the STAR Group has an offcial subsidiary in your country
						li
							p the STAR Group has an offcial subsidiary in your country
						li
							p the STAR Group has an offcial subsidiary in your country

			.col-lg-3
				.bg-right
					.card_title_right
						h2 Other software
					.card_body_right
						.sb-title
							a(href="#") WebTerm
						.caption Multilingual terminology management in an internet bower
					.card_body_right
						.sb-title
							a(href="#") WebTerm
						.caption Multilingual terminology management in an internet bower
					.card_body_right
						.sb-title
							a(href="#") WebTerm
						.caption Multilingual terminology management in an internet bower
					.card_body_right
						.sb-title
							a(href="#") WebTerm
						.caption Multilingual terminology management in an internet bower
					.card_body_right
						.sb-title
							a(href="#") WebTerm
						.caption Multilingual terminology management in an internet bower