section.home_s-1
	.container
		.row
			.col-lg-8
				.head-title
					h1 STAR Vietnam Translation & Software Co., Ltd.
				.text Your Trusted Technical Translation and Software Localization Partner
				.content-h As member of STAR Group, STAR Vietnam Translation & Software Co., Ltd. was founded in Hochiminh City. Vietnam In December of 2007 to repond to the demands of the dynamic Vietnamese market. We offer comprehensive translation, localization, and information management solutions and services to our clients in a wide varirety of fields.
				.btn-view
					.img
						img(src="./img/home/h-icon.png", alt="")
					a(href="#") Learn more