.home_s-1
	padding: 65px 0
	.head-title
		h1
			color: #91002b
	.row
		display: flex
		justify-content: center
		align-items: center
	.col-lg-8
		text-align: center
	.text
		color: #494949
		font-size: 24px
		font-weight: 600
	.content-h
		font-size: 18px
		color: #111111
		padding: 30px 0
	.btn-view
		display: flex
		align-items: center
		background: #8f052d
		border: 1px solid transparent
		padding: 12px 0px
		width: 180px
		cursor: pointer
		margin: 0 auto
		img
			filter: brightness(0) invert(1)
			height: 100%
		span
			padding-left: 30px
			color: #ffffff
			text-transform: uppercase
			font-weight: 600
			font-size: 14px
		&:hover
			background: none
			border: 1px solid #8f052d
			img
				filter: brightness(1)
			span
				color: #8f052d