footer
	.footer-top(setBackground='./img/home/bg-footer.png' alt="")
		.title-footer
			h4 To discuss your requirements
		.btn-view
			.img
				img(src="./img/home/shape-icon.png", alt="")
			a(href="#") Get in touch
	.footer-block(setBackground='./img/home/bg-footer-2.png' alt="")
		.container
			.title-footer
				h4 STAR Vietnam Translation & Software Co., Ltd.
			.caption-footer Your Trusted Technical Translation and Software Localization Partner
			.row
				.col-xl-3.col-md-6.col-sm-6.col-12
					.footer-address.pr-40
						.card__title
							h4 Contact information
						.card__body
							ul
								li
									.icon-footer
										span.ri-map-pin-2-fill
									p 228 Pho Co Dieu Street, Ward 6, District 11, Ho Chi Minh City, Vietnam
								li
									.icon-footer
										span.ri-phone-fill
									p (+84) 28 3855 3753
									p (+84) 28 3855 7774
								li
									.icon-footer
										span.ri-mail-fill
									p For general inquiries: star.vietnam@star-group.net
								li
									.icon-footer
										span.ri-mail-fill
									p For sales: sales.vietnam@star-group.net
								li
									.icon-footer
										span.ri-global-line
									.links-web
										a(href="#") www.star-vietnam.com.vn
										a(href="#") www.star-group.net
				.col-xl-3.col-md-6.col-sm-6.col-12
					.footer-card
						.card__title
							h4 About us
						.item-footer
							ul
								li
									a(href="#") STAR Vietnam
								li
									a(href="#") STAR Worldwide
								li
									a(href="#") Services
								li
									a(href="#") Software
								li
									a(href="#") Career
								li
									a(href="#") Donwload
								li
									a(href="#") Contact us
				.col-xl-3.col-md-6.col-sm-6.col-12
					.footer-card
						.card__title
							h4 Services
						.item-footer
							ul
								li
									a(href="") Technical & Specialized Translations
								li
									a(href="") Professional Proofreading
								li
									a(href="") Terminology & Translation Memory Management
								li
									a(href="") Graphic Design Of Documents
								li
									a(href="") Consecutive And Simultaneous Interpreting
								li
									a(href="") Print And Web Design
								li
									a(href="") References
								li
									a(href="") Other Services
				.col-xl-3.col-md-6.col-sm-6.col-12
					.footer-card
						.card__title
							h4 Software
						.item-footer
							ul
								li
									a(href="") Transit
								li
									a(href="") WebTerm
								li
									a(href="") TeamStar
								li
									a(href="") FormatCheker
								li
									a(href="") GRIPS
								li
									a(href="") SPIDER
								li
									a(href="") STAR James
								li
									a(href="") STAR ProjectAdmin

	.footer-copyright
		.container
			.row.copyright-wrapper
				.right-text
					p copyright © 2020 STAR Vietnam. All Rights Reserved. Designed by Canh Cam.
					ul
						li
							p Privacy
						li
							p Term of use
						li
							p Sitemap
				.footer-links
					li
						a(href="")
							span.ri-facebook-box-fill
					li
						a(href="")
							span.ri-twitter-fill
					li
						a(href="")
							span.ri-linkedin-fill
					li
						a(href="")
							span.ri-youtube-fill