section.career-list
	.container
		.head-title
			h1 Career
		.row
			.col-lg-6
				.block-career
					.card-img
						.img
							img(src="./img/career/1.png", alt="")
			.col-lg-6
				.content-career
					.title-career 
						h2 Company Culture
					.desc-career Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		.row
			.col-lg-6
				.block-career
					.card-img
						.img
							img(src="./img/career/1.png", alt="")
			.col-lg-6
				.content-career
					.title-career 
						h2 Company Culture
					.desc-career Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

section.career-list-2
	.container
		.head-title
			h2 Jobs Opportunities
		.row
			-for(i=0; i<6; i++)
				.col-lg-6
					.content-jobs-list
						.title-jobs 
							a(href="#") Business Development Executive (Sales/Marketing)
						.city-jobs
							.icon-jobs
								span.ri-map-pin-2-fill
							.title-zone-city Ho Chi Minh City
						.agree-jobs
							.salary-date
								.salary
									a(href="#") $   15.000.000 - 20.000.000 đ
								.date
									.icon
										span.ri-calendar-check-fill
									time 10/02/2020
							.view-detail
								a(href="#") View detail


