section.home_s-7
	.container
		.row.border
			.col-lg-8
				.head-title
					h2 News/ Events
				.row
					.col-lg-6
						.item-news-left
							.card-img
								a(href="#").zoom-in
									img(src="./img/home/news.png", alt="")
							.content-news
								.title-news
									a(href="#") STAR Vietnam donates Translt NXT Conputer-Aided Translation software to HUTECH
								.date
									time 10/10/2020
								.title-zone STAR Vietnam Translation and Software Co., Ltd (a member company of STAR Group - Switzerland) donated STAR Translt NXT to Hochiminh City University of Tenhnology (HUTECH).
					.col-lg-6
						-for(i=0; i<4; i++)
							.item-news-right
								.title-news
									a(href="#") STAR Group donating STAR Translt NXT to universities in Ho Chi Minh City, VietNam
								.date
									time 10/10/2020

			.col-lg-4
				.head-title
					h2 Gallery
				.figure-video.media-play
					.wrapper-video
						a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
							img(src="./img/home/gallery-video.png", alt="")
					.video
						.icon
							img(src="./img/home/icon-video.png", alt="")
				.title-video
					a(href="#") STAR Group Awarded Top IT Innovation Prize for GRIPS Appllcation
				.row
					.col-lg-6
						.figure-images
							.wrapper-img
								a(data-fancybox='gallery', href="./img/home/h-s7.png", alt="")
									img(src="./img/home/h-s7.png", alt="")
							.images
								.icon
									img(src="./img/home/h-s7-icon.png", alt="")
						.title-img
							a(href="#") Transit NXT - just what you need, when you need it

					.col-lg-6
						.figure-images
							.wrapper-img
								a(data-fancybox='gallery', href="./img/home/h-s7.png", alt="")
									img(src="./img/home/h-s7.png", alt="")
							.images
								.icon
									img(src="./img/home/h-s7-icon.png", alt="")
						.title-img
							a(href="#") Transit NXT - just what you need, when you need it