section.srcoll-menu
	.container
		.menu-nav
			ul
				li.active
					a(href="#") Transit
				li
					a(href="#") TermStar
				li
					a(href="#") FormatChecker
				li
					a(href="#") GRIPS
				li
					a(href="#") SPIDER
				li
					a(href="#") STAR James
				li
					a(href="#") STAR ProjectAdmin

section.software-list
	.container
		.head-title
			h1 Software
		.row
			.col-lg-10
				.description The Best quality in the whole process of information publishing and translation
				.text-software  The Best quality in the whole process of information publishing and translation The Best quality in the whole process of information publishing and translation The Best quality in the whole process of information publishing and translation The Best quality in the whole process of information publishing and translation The Best quality in the whole process of information publishing and translation The Best quality in the whole process of information publishing and translation
			.col-lg-3
				.card_img
					a(href="#")
						img(src="./img/home/h-s5.png", alt="")
				.title
					a(href="#") WebTerm
			.col-lg-9
				.content-soft
					.title-zone
						a(href="#") Translation software with translation memory and fuzzy logic
					.caption Suporting full functionality of project management and translation. Feeturing team work translation over LAN, use of common translation memory and dictionaries on the LAN or Internet. Ideal for project managemers, translator and proofreaders of translation agencies or translation division of corporations. All standard import filters are included.
					.btn-view
						.img
							img(src="./img/home/shape-icon.png", alt="")
						a(href="#") View more
			.col-lg-3
				.card_img
					a(href="#")
						img(src="./img/home/h-s5.png", alt="")
				.title
					a(href="#") WebTerm
			.col-lg-9
				.content-soft
					.title-zone
						a(href="#") Translation software with translation memory and fuzzy logic
					.caption Suporting full functionality of project management and translation. Feeturing team work translation over LAN, use of common translation memory and dictionaries on the LAN or Internet. Ideal for project managemers, translator and proofreaders of translation agencies or translation division of corporations. All standard import filters are included.
					.btn-view
						.img
							img(src="./img/home/shape-icon.png", alt="")
						a(href="#") View more
			.col-lg-3
				.card_img
					a(href="#")
						img(src="./img/home/h-s5.png", alt="")
				.title
					a(href="#") WebTerm
			.col-lg-9
				.content-soft
					.title-zone
						a(href="#") Translation software with translation memory and fuzzy logic
					.caption Suporting full functionality of project management and translation. Feeturing team work translation over LAN, use of common translation memory and dictionaries on the LAN or Internet. Ideal for project managemers, translator and proofreaders of translation agencies or translation division of corporations. All standard import filters are included.
					.btn-view
						.img
							img(src="./img/home/shape-icon.png", alt="")
						a(href="#") View more
			.col-lg-3
				.card_img
					a(href="#")
						img(src="./img/home/h-s5.png", alt="")
				.title
					a(href="#") WebTerm
			.col-lg-9
				.content-soft
					.title-zone
						a(href="#") Translation software with translation memory and fuzzy logic
					.caption Suporting full functionality of project management and translation. Feeturing team work translation over LAN, use of common translation memory and dictionaries on the LAN or Internet. Ideal for project managemers, translator and proofreaders of translation agencies or translation division of corporations. All standard import filters are included.
					.btn-view
						.img
							img(src="./img/home/shape-icon.png", alt="")
						a(href="#") View more
			.col-lg-3
				.card_img
					a(href="#")
						img(src="./img/home/h-s5.png", alt="")
				.title
					a(href="#") WebTerm
			.col-lg-9
				.content-soft
					.title-zone
						a(href="#") Translation software with translation memory and fuzzy logic
					.caption Suporting full functionality of project management and translation. Feeturing team work translation over LAN, use of common translation memory and dictionaries on the LAN or Internet. Ideal for project managemers, translator and proofreaders of translation agencies or translation division of corporations. All standard import filters are included.
					.btn-view
						.img
							img(src="./img/home/shape-icon.png", alt="")
						a(href="#") View more
			.col-lg-3
				.card_img
					a(href="#")
						img(src="./img/home/h-s5.png", alt="")
				.title
					a(href="#") WebTerm
			.col-lg-9
				.content-soft
					.title-zone
						a(href="#") Translation software with translation memory and fuzzy logic
					.caption Suporting full functionality of project management and translation. Feeturing team work translation over LAN, use of common translation memory and dictionaries on the LAN or Internet. Ideal for project managemers, translator and proofreaders of translation agencies or translation division of corporations. All standard import filters are included.
					.btn-view
						.img
							img(src="./img/home/shape-icon.png", alt="")
						a(href="#") View more
			.col-lg-3
				.card_img
					a(href="#")
						img(src="./img/home/h-s5.png", alt="")
				.title
					a(href="#") WebTerm
			.col-lg-9
				.content-soft
					.title-zone
						a(href="#") Translation software with translation memory and fuzzy logic
					.caption Suporting full functionality of project management and translation. Feeturing team work translation over LAN, use of common translation memory and dictionaries on the LAN or Internet. Ideal for project managemers, translator and proofreaders of translation agencies or translation division of corporations. All standard import filters are included.
					.btn-view
						.img
							img(src="./img/home/shape-icon.png", alt="")
						a(href="#") View more
			.col-lg-3
				.card_img
					a(href="#")
						img(src="./img/home/h-s5.png", alt="")
				.title
					a(href="#") WebTerm
			.col-lg-9
				.content-soft
					.title-zone
						a(href="#") Translation software with translation memory and fuzzy logic
					.caption Suporting full functionality of project management and translation. Feeturing team work translation over LAN, use of common translation memory and dictionaries on the LAN or Internet. Ideal for project managemers, translator and proofreaders of translation agencies or translation division of corporations. All standard import filters are included.
					.btn-view
						.img
							img(src="./img/home/shape-icon.png", alt="")
						a(href="#") View more
