<?xml version="1.0" encoding="utf-8" ?>
<settings>

	<!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
	<position>
		<add name="Menu chính" value="1" resourcefile="" />
		<add name="Footer Menu " value="2" resourcefile="" />
		<add name="Footer Menu 2 " value="4" resourcefile="" />
		<add name="Footer Menu 3" value="8" resourcefile="" />
		<add name="Other Software  " value="16" resourcefile="" />
		<add name="Home - Client  " value="32" resourcefile="" />
		<add name="Home - Software  " value="64" resourcefile="" />
		<add name="Home - Service  " value="128" resourcefile="" />
		<add name="Software Detail - Other  " value="256" resourcefile="" />
	</position>

</settings>
