header
	.container
		.header
			.header_logo
				a(href="index.html")
					.logo
						img(src="./img/home/logo.png", alt="")
			.header_main
				.header_infor
					.hotline_box
						ul.tel
							li
								.icon-tel
									span.ri-phone-fill
								.text-tel
									a(href="tel:+84 28 3855 3753 - 3955 7774") +84 28 3855 3753 - 3955 7774
							li
								.icon-tel
									span.ri-mail-fill
								.text-mail star.vietnam@star-group.net / sales.vietnam@star-group.net
					.search-icon
						span.material-icons search
					.language
						a.current EN
							span.ri-arrow-down-s-fill
						ul.drop-down
							li
								a VN
					.header_btn
						span.ri-menu-line
				.header_menu
					ul.nav-menu
						li.menu-list.active
							a(href="index.html").title-menu-list STAR Vietnam
						li.menu-list
							.moblie-show-menu
								a(href="product-overview.html").title-menu-list Services
								span.mdi.mdi-chevron-down
							.mega-menu
								.container
									ul.has-mega-menu
										li
											.moblie-show-mega
												a(href="").title-mega ServicesGroupServices GroupServices GroupServices GroupServices GroupServices GroupServices
												span.mdi.mdi-chevron-down
											ul.mega-list
												li
													a(href="") STAR Vietnam Group
												li
													a(href="") STAR Vietnam Group
										li
											.moblie-show-mega
												a(href="").title-mega Services Group
												span.mdi.mdi-chevron-down
											ul.mega-list
												li
													a(href="") STAR Vietnam Group
												li
													a(href="") STAR Vietnam Group
										li
											.moblie-show-mega
												a(href="").title-mega Services Group
												span.mdi.mdi-chevron-down
											ul.mega-list
												li
													a(href="") STAR Vietnam Group
												li
													a(href="") STAR Vietnam Group
										li
											.moblie-show-mega
												a(href="").title-mega Services Group
												span.mdi.mdi-chevron-down
											ul.mega-list
												li
													a(href="") STAR Vietnam Group
												li
													a(href="") STAR Vietnam Group
						li.menu-list
							a(href="clients.html").title-menu-list Clients
						li.menu-list
							a(href="#").title-menu-list STAR Worldwide
						li.menu-list
							a(href="software.html").title-menu-list Software
						li.menu-list
							a(href="news-list.html").title-menu-list News/ Events
						li.menu-list
							a(href="contact.html").title-menu-list Contact us
		.position-relative
			.requestform
				span.ri-pencil-fill
				a(href='javascript:void(0)' data-fancybox="" data-src="#wrap-form") Request a quote
	#wrap-form.wrap-form
		.text Request a Quote form
		.row
			.form-group.col-12.col-md-6.col-6
				input.form-control(type='text', placeholder="First name*")
			.form-group.col-12.col-md-6.col-6
				input.form-control(type='text',placeholder="Last name*")
			.form-group.col-12.col-md-6.col-6
				input.form-control(type='text',placeholder="Company")
			.form-group.col-12.col-md-6.col-6
				input.form-control(type='text',placeholder="Adress")
			.form-group.col-12.col-md-6.col-6
				select
					option Country
			.form-group.col-12.col-md-6.col-6
				select
					option City
			.form-group.col-12.col-md-6.col-6
				input.form-control(type='text',placeholder="Phone*")
			.form-group.col-12.col-md-6.col-6
				input.form-control(type='text',placeholder="Fax")
			.form-group.col-12.col-md-6.col-6
				input.form-control(type='text',placeholder="Email*")
			.form-group.col-12.col-md-6.col-6
				input.form-control(type='text',placeholder="Website")
			.form-group.col-12
				label(for="") Please enter your question: *
				textarea#inpputTextArea.form-control(rows='3',placeholder="")
		.frm-btnwrap
			.frm-file
				label(for="uploadflie") UPDATELOAD FILE
				input(type="file" id="uploadflie")
			.frm-btn
				input(type="submit" value ="SUBMIT")

	.block_search
		.search-icon
			span.ri-close-line
		.search_box
			input(type="text" placeholder="Tìm kiếm")
			button(type="submit").ri-search-line

	.menu_mobile
		.header_btn
			span.ri-close-line
		.mobile-wrapper
	.overlay
