header
	.container
		.header
			.header_logo
				a(href="index.html")
					.logo
						img(src="./img/home/logo.png", alt="")
			.header_main
				.header_infor
					.hotline_box
						ul.tel
							li
								.icon-tel
									span.ri-phone-fill
								.text-tel
									a(href="tel:+84 28 3855 3753 - 3955 7774") +84 28 3855 3753 - 3955 7774
							li
								.icon-tel
									span.ri-mail-fill
								.text-mail star.vietnam@star-group.net / sales.vietnam@star-group.net
					.search-icon
						span.material-icons search
					.language
						a.current EN
							span.ri-arrow-down-s-fill
						ul.drop-down
							li
								a VN
					.header_btn
						span.ri-menu-line
				.header_menu
					ul.nav-menu
						li.active
							a(href="index.html") STAR Vietnam
						li
							a(href="service.html") Services
						li
							a(href="#") Clients
						li
							a(href="#") STAR Worldwide
						li
							a(href="software.html") Software
						li
							a(href="news-list.html") News/ Events
						li
							a(href="contact.html") Contact us
					
	.block_search
		.search-icon
			span.ri-close-line
		.search_box
			input(type="text" placeholder="Tìm kiếm")
			button(type="submit").ri-search-line
	.menu_mobile
		.header_btn
			span.ri-close-line
		.mobile-wrapper
	.overlay