section.home-banner
	.container-fuild
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.wrapper
						a
							img(src="./img/banner/1.png", alt="")
					.caption.container
						h2.title-caption A member of STAR Group -
						h2.title-caption Your Trusted Techinical Translation and Software Localization Partner
						a(href="").learn-more
							img(src="./img/home/h-icon.png", alt="")
							span Learn More
					.text-banner-top Our Translation, Your Satisfaction
					.text-banner-bot PPCC: Precision, Punctuality, Consistency and Compilance
					.banner-img
						.img
							img(src="./img/banner/vector-banner.png", alt="")
