section.home-banner
	.container-fuild
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.wrapper
						a
							img(src="./img/banner/1.png", alt="")
					.caption.container
						h2.title-caption A member of STAR Group -
						h2.title-caption Your Trusted Techinical Translation and Software Localization Partner
						.learn-more
							span.material-icons trending_flat
							a(href="#") Learn more
						.text-banner PPCC: Precision, Punctuality, Consistency and Compilance