section.home-banner
	.container-fuild
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.wrapper
						a
							img(src="./img/banner/1.png", alt="")
					.caption.container
						h2.title-caption A member of STAR Group -
						h2.title-caption Your Trusted Techinical Translation and Software Localization Partner
						.text-banner-top Our Translation, Your Satisfaction
						.learn-more
							.img
								img(src="./img/home/h-icon.png", alt="")
							a(href="#") Learn More
						.text-banner-bot PPCC: Precision, Punctuality, Consistency and Compilance