section.career-detail
	.container
		.row
			.col-lg-9
				.card-title
					h1 Business Development Executive (Sales/Marketing)
					.social-network-share
						.icon
							a(href="#")
								span.ri-facebook-fill
							a(href="#")
								span.ri-twitter-fill
				.card_body
					.fullcontent-detail
						.caption Job Description
						.text
							p Plan and carry out market research, customer and competitor surverys/marketing actives/ sales prospecting/monitioring & follow-up-towards direct salesPlan and carry out market research, customer and competitor surverys/marketing actives/ sales prospecting/monitioring & follow-up-towards direct sale
							p Plan and carry out market research, customer and competitor surverys/marketing actives/ sales prospecting/monitioring & follow-up-towards direct sale
							p Plan and carry out market research, customer and competitor surverys/marketing actives/ sales prospecting/monitioring & follow-up-towards direct sale
							p Plan and carry out market research, customer and competitor surverys/marketing actives/ sale
							p Plan and carry out market research, customer and competitor surverys/marketing actives/ sales prospecting/monitioring & follow-up-towards direct sale
							p Plan and carry out market research, customer and competitor surverys/marketing actives

						.caption Details:
						.text
							strong 1. Reports to: Head of Business Development Department
							strong 2. Major duties and responsibilities
							ul
								li
									p Plan and carry out market research, customer and competitor surverys/marketing actives/ sales
								li
									p Plan and carry out market research, customer and competitor surverys/marketing actives/ sales prospecting/monitioring & follow-up-towards direct salesPlan 
								li
									p Plan and carry out market research, customer and competitor surverys/marketing actives/ sales
								li
									p Plan and carry out market research, customer and competitor surverys/marketing actives/ sales prospecting/monitioring & follow-up-towards direct salesPlan 
								li
									p Plan and carry out market research, customer and competitor surverys/marketing actives/ sales
								li
									p Plan and carry out market research, customer and competitor surverys/marketing actives/ sales prospecting/monitioring & follow-up-towards direct salesPlan 
								li
									p Plan and carry out market research, customer and competitor surverys/marketing actives/ sales
								li
									p Plan and carry out market research, customer and competitor surverys/marketing actives/ sales prospecting/monitioring & follow-up-towards direct salesPlan 
								li
									p Plan and carry out market research, customer and competitor surverys/marketing actives/ sales
								li
									p Plan and carry out market research, customer and competitor surverys/marketing actives/ sales prospecting/monitioring & follow-up-towards direct salesPlan 
								li
									p Plan and carry out market research, customer and competitor surverys/marketing actives/ sales
								li
									p Plan and carry out market research, customer and competitor surverys/marketing actives/ sales prospecting/monitioring & follow-up-towards direct salesPlan 
								li
									p Plan and carry out market research, customer and competitor surverys/marketing actives/ sales
								li
									p Plan and carry out market research, customer and competitor surverys/marketing actives/ sales prospecting/monitioring & follow-up-towards direct salesPlan 

						.caption Job recruitment:
						.text
							ul
								li
									strong English & Vietnam languages: 
										p Exellent speaking, presentation & writing skills
								li
									strong Vietnamese:
										p Native
								li
									strong English & Vietnam languages: 
										p Exellent speaking, presentation & writing skills
								li
									strong Vietnamese:
										p Native
								li
									strong English & Vietnam languages: 
										p Exellent speaking, presentation & writing skills
								li
									strong Vietnamese:
										p Native
								li
									strong English & Vietnam languages: 
										p Exellent speaking, presentation & writing skills

						.caption How to apply:
						.text
							strong Interested candidates are invited to e-mail their application with a complete resume to use with the following documents:
							ul
								li
									p English & Vietnam languages Exellent speaking, presentation & writing skills
								li
									p English & Vietnam languages Exellent speaking, presentation & writing skills

						.caption By email to:
						.text
							strong STAR Vietnam Translation and Software Co., Ltd
							ul
								li
									p English & Vietnam languages Exellent speaking, presentation & writing skills
								li
									p English & Vietnam languages Exellent speaking, presentation & writing skills

				.form-career-detail
					.apply-form
						.img
							img(src="./img/home/shape-icon.png", alt="")
						.btn.button-apply
							a(href="") Get in touch
					.text Or
					.upload-your-resume
						.img
							img(src="./img/home/shape-icon.png", alt="")
						a(href="#") Upload your resume
			.col-lg-3
				.card-title-right
					h2 Related jobs
				.card-body-right
					-for(i=0; i<4; i++)
						.content-career-detail
							.title-career-detail
								a(href="#") Freelance Translator
							.desc-career-detail
								.city-date-detail
									.city-detail
										.icon
											span.ri-map-pin-2-fill
										.text Ho Chi Minh City
									.date
										.icon
											span.ri-calendar-check-fill
										time 10/02/2020
								.salary-detail
									a(href="#") $ 15.000.000 - 20.000.000 đ























